    <!-- three-blcok -->
    <div class="container my-5 py-2">
        <h2 class="text-center font-weight-bold my-5">{{content.subtitle}}</h2>
        <div class="row">

            {% for item in content.list_item %}
                <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                    <img src="{{item.item_image.url }}" alt="Anti-spam" class="mx-auto">
                    <h4>{{ item.item_title }}</h4>
                    <p>{{ item.item_description | raw }}</p>
                </div>
            {% endfor %}
            
        </div>
    </div>
<br>